* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #e8e8e9;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 12px;
}