.animal__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .animal__list {
        grid-template-columns: repeat(2,1fr);
        gap: 8px;
    }
}