.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
    height: 400px;
  text-align: center;
  font-size: 18px;
  background: #444;
  width: 100%;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
}

.home-animals {
    padding: 30px 0;
}

.home-animals h1 {
    font-size: 28px;
}

@media (max-width: 768px) {
    .home-slider .container {
        padding: 0;
    }

    .swiper-slide {
        height: 300px;
    }
}